<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/baseipo::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Admin-Add IPO</title>

</head>

<body>
	<section class="ibanner">
		<div class="card mt-5" style="width:50%;background-color: transparent; margin-left:30%">
		<div class="card-body">
		
		<h1 class="text-center text-white"><i class="fas fa-th-list"></i><b>  Add IPO</b></h1>
		<div class="container-fluild mt-1">
		
		<div class="row">
		<div class="col-md-10 offset-md-1">

		<form action="#" th:action="@{/admin/process-ipo}" th:method="post" th:object="${ipo}" 
		 class="mt-2">
		 
			<div th:if="${session.message}"
						th:classappend="${session.message.type}" class="alert mt-2 p-2"
						role="alert">
						<p class="text-center" th:text="${session.message.content}"></p>
						<th:block th:text="${#session.removeAttribute('message')}">
						</th:block>
			</div>
					
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
					<i class="fa fa-plus fa-fw" style="font-size: 30px;"></i>
					</div>
					
				</div>
				<input type="text" name="pricePerShare" placeholder="Enter Price per Share" class="form-control" required="required"/>
			</div>
			
			<div class="input-group mt-2">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
					<i class="fas fa-rupee-sign fa-fw" style="font-size: 30px;"> </i>
					</div>
				</div>
				<input type="text" name="totalNoOfShares" placeholder="Enter Total no of shares" class="form-control" required/>
			</div>
			
			<div class="input-group mt-2">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
					<i class="fas fa-chalkboard-teacher fa-fw" style="font-size: 30px;"> </i>
					</div>
				</div>
				<input type="date" name="openDateTime" placeholder="Enter Date and time" class="form-control" required/>
			</div>
			
			
			<div class="input-group mt-2">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
					<i class="fas fa-building fa-fw" style="font-size: 30px;"> </i>
					</div>
				</div>
				
				    <select  class="form-control" required="required" 
				     name="companyname" id="companyname">
				       
				      <option disabled="disabled selected hidden" selected="selected" > Choose Company Name
				      </option>
				      <option th:each="c : ${companylist}" th:value="${c.companyName}" 
				       th:text="${c.companyName}" >
				      </option>
				    </select>

			</div>
			
			
			<div class="input-group mt-2">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
					<i class="fas fa-building fa-fw" style="font-size: 30px;"> </i>
					</div>
				</div>
				
				  <select  name="sename" placeholder="Enter Stock Exchange Name" class="form-control" required> 
				      <option value="" disabled selected hidden><h5 style="color: gray;">Choose Stock Exchange</h5></option>
					  <option value="Bombay Stock Exchange BSE">Bombay  Stock Exchange</option>
					  <option value="National Stock Exchange NSE ">National Stock Exchange</option>
					 
				</select>

			</div>
			
			<div class="form-group mt-3">
			<div class="input-group mt-2">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
							<i class="fas fa-quote-left fa-fw" style="font-size: 30px;"></i>
					</div>
					</div>
				<textarea id="mytextarea" name="remarks" class="form-control" rows="10" placeholder="Enter IPO remarks" required>
				
				</textarea>
			</div>
			</div>
			
			<div class="container text-center mt-2">
			<button class="btn bg-primary text-white" type="submit">Save IPO</button></div>
		</form>
		</div>
		
		</div>
		</div>
		
		</div>
		</div>
		
		
	</section>	
</body>
</html>