<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" th:replace="admin/basecompany::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Admin Update Company</title>

</head>

<body>
	<section class="banner">
		<div class="card mt-5" style="width:50%;background-color: transparent; margin-left:30%">
		<div class="card-body">
		
		<h1 class="text-center text-white"><i class="fas fa-building fa-fw"></i><b>  Update Company</b></h1>
		<div class="container-fluild mt-1">
		
		<div class="row">
		<div class="col-md-10 offset-md-1">

		<form action="#" th:action="@{/admin/process-updatecompany}" th:method="post" th:object="${company}" 
		 class="mt-2">
		 
			<div th:if="${session.message}"
						th:classappend="${session.message.type}" class="alert mt-2 p-2"
						role="alert">
						<p class="text-center" th:text="${session.message.content}"></p>
						<th:block th:text="${#session.removeAttribute('message')}">
						</th:block>
			</div>
				<input type="hidden" th:value="${company.companyId}" name="companyId" />	
				
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
					<i class="fa fa-plus fa-fw" style="font-size: 30px;"></i>
					</div>
					
				</div>
				<input type="text" th:value="${company.companyName}" name="companyName" placeholder="Enter Company Name" class="form-control" required="required"/>
			</div>
			
			<div class="input-group mt-2">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
					<i class="fas fa-rupee-sign fa-fw" style="font-size: 30px;"> </i>
					</div>
				</div>
				<input type="text" th:value="${company.turnover}"  name="turnover" placeholder="Enter Company Turnover" class="form-control" required/>
			</div>
			
			<div class="input-group mt-2">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
					<i class="fas fa-chalkboard-teacher fa-fw" style="font-size: 30px;"> </i>
					</div>
				</div>
				<input type="text" th:value="${company.CEO}"  name="CEO" placeholder="Enter CEO Name" class="form-control" required/>
			</div>
			
			<div class="input-group mt-2">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
					<i class="fas fa-users fa-fw" style="font-size: 30px;"> </i>
					</div>
				</div>
				<input type="text" th:value="${company.BOD}"  name="BOD" placeholder="Enter BOD Name" class="form-control" required/>
			</div>
			<div class="input-group mt-2">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
					<i class="fas fa-industry fa-fw" style="font-size: 30px;"> </i>
					</div>
				</div>
				
			</div>
			
			<div class="form-group mt-3">
			<div class="input-group mt-2">
				<div class="input-group-prepend">
					<div class="input-group-text mr-3">
							<i class="fas fa-quote-left fa-fw" style="font-size: 30px;"></i>
					</div>
					</div>
				<textarea id="mytextarea" th:utext="${company.writeUp}" name="writeUp" class="form-control" rows="10" placeholder="Enter Company description" required>
				
				</textarea>
			</div>
			</div>
			
			<div class="container text-center mt-2">
			<button class="btn bg-primary text-white" type="submit">Save Company</button></div>
		</form>
		</div>
		
		</div>
		</div>
		
		</div>
		</div>
		
		
	</section>	
</body>
</html>