<!doctype html>
<html lang ="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8"/>
<title>This is home page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
<div class = "text-center">
<h1>This is Stock market Manager</h1>
<p>Please Sign In as User or Admin</p>
<button class="btn bg-primary btn-lg text-white" onclick="window.location.href='signup'">SignIn</button>
</div>
</section>
</body>
</html>



