<!DOCTYPE html >
<html lang ="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>login</title>
</head>
<body>
	<section>
		<div class="row">

			<div class="col-md-4 offset-md-4">

				<div class="myform mt-5 p-5">

					<h1 class="head text-center">
						<b>Login</b>
					</h1>

					<form class="form" th:action="@{/login}" method="post" name="login">

						<div th:if="${param.error}" class="alert alert-danger">Bad
							Credentials</div>

						<div th:if="${param.logout}" class="alert alert-success">
							you have been logged out..!</div>


						<div class="form-group">
							<label for="username">User Name</label> <input type="text"
								name="username" class="form-control" id="username"
								aria-describedby="usernameHelp" placeholder="Enter Username" />
						</div>

						<br>

						<div class="form-group">
							<label for="password">Password</label> <input type="password"
								name="password" id="password" class="form-control"
								aria-describedby="passwordHelp" placeholder="Enter Password" />
						</div>

						<br>

						<div class="text-center">
							<button type="submit"
								class=" btn btn-block mybtn bg-primary text-white tx-tfm">Login</button>
						</div>
						<br>
						<div class="text-center">
							<div class="login-or">
								<hr class="hr-or">
								<span class="span-or">or</span>
							</div>
						</div>


						<div class="form-group">
							<p class="text-center">
								Don't have account? <a href="#" th:href="@{/signup/}"
									id="signup">Sign up here</a>
							</p>
						</div>
					</form>


				</div>

			</div>

		</div>
	</section>
</body>
</html>